<h2>Liste des Sessions</h2>
<button class="btn btn-success mb-3" [routerLink]="['/admin', 'ajouter-session']">Ajouter une Session</button>

<div class="table-responsives-md">

<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Formation</th>
      <th scope="col">Formateurs</th>
      <th scope="col">Date debut</th>
      <th scope="col">Date fin</th>
      <th scope="col">Nombres des candidats</th>
      <th scope="col">Editer</th>
      <th scope="col">Supprimer</th>
      <th scope="col">Details</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let session of showSession" >
      <th scope="row">{{session.id}}</th>
      <td>{{session.titreFormation}}</td>
      <td>{{ changeSpeToSt( session.nomFormateurs ) }}</td>
      <td>{{session.dateDebut}}</td>
      <td>{{session.dateFin}}</td>
      <td>{{session.candidats.length}}/15</td>
      <td><button class="btn btn-primary" routerLink="/admin/editer-session/{{session.id}}" >Editer</button></td>

      <td><button class="btn btn-danger" (click)="opendetail(supp,session)" >Supprimer</button></td>
      <td><button class="btn btn-primary" (click)="opendetail(detail,session)">Details</button></td>


    </tr>
  </tbody>
</table>
</div>


<!-- details -->

<ng-template #detail let-modal>

  <div class="modal-content">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2">Session Details</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
  
    <div class="modal-body p-5 pt-0">
      
      <ul class="list-group">
        <li class="list-group-item">
            <strong>ID : </strong> <span id="id">{{sessionDetail.id}}</span>
        </li>
        <li class="list-group-item">
            <strong>titreFormation : </strong> <span id="titreFormation">{{sessionDetail.titreFormation}}</span>
        </li>
        <li class="list-group-item">
            <strong>formateurs : </strong> <span id="formateurs">{{sessionDetail.nomFormateurs}}</span>
        </li>
        <li class="list-group-item">
            <strong>candidats : </strong> <br> <ul> <li *ngFor="let nom of sessionDetail.nomCandidats"><span id="candidats">{{nom}}</span></li> </ul>
        </li>
        <li class="list-group-item">
            <strong>dateDebut : </strong> <span id="dateDebut">{{sessionDetail.dateDebut}}</span>
        </li>
        <li class="list-group-item">
            <strong>dateFin : </strong> <span id="dateFin">{{sessionDetail.dateFin}}</span>
        </li>
        <li class="list-group-item">
            <strong>planningSeances : </strong> <br> <ul> <li *ngFor="let plan of sessionDetail.planningSeances" > <span id="planningSeances">{{plan}}</span>  </li></ul>
        </li>
        
        
        
    </ul>
    </div>
  </div> 

</ng-template>


<!-- Supprimmer S -->
<ng-template #supp let-modal>

  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-body p-4 text-center" >
        <h5 class="mb-0"> Confirmez La suppression du Session n°{{sessionDetail.id}} de la formation {{sessionDetail.titreFormation}} . </h5>
      </div>
      <div class="modal-footer flex-nowrap p-0">
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end" (click)="supprimer()"><strong>Oui, je confirme</strong></button>
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" (click)="modal.close('Close click')" data-bs-dismiss="modal">Non</button>
      </div>
    </div>
  </div>

</ng-template>  
