<h2>Liste des formateurs</h2>
<button class="btn btn-success mb-3" [routerLink]="['/admin', 'ajouter-formateur']">Ajouter un Formateur</button>

<div class="table-responsives-md">

<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Editer</th>
      <th scope="col">Supprimer</th>
      <th scope="col">Details</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formateur of formateurs">
      <th scope="row">{{formateur.cin}}</th>
      <td>{{formateur.nom}}</td>
      <td>{{formateur.prenom}}</td>
      <td>{{formateur.email}}</td>
      <td>{{formateur.tel}}</td>
      <td><button class="btn btn-primary" [routerLink]="['/admin', 'editer-formateur', formateur.id]" >Editer</button></td>

      <td><button class="btn btn-danger" (click)="opendetail(supp,formateur)" >Supprimer</button></td>
      <td><button class="btn btn-primary" (click)="opendetail(detail,formateur)">Details</button></td>
      <!-- <td><button class="btn btn-primary" [routerLink]="['/Admin', 'detail-formateur', formateur.id]">Details</button></td> -->


    </tr>
  </tbody>
</table>
</div>


<!-- details -->

<ng-template #detail let-modal>

  <div class="modal-content">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2">Formateur Details</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
  
    <div class="modal-body p-5 pt-0">
      
      <ul class="list-group">
        <li class="list-group-item">
            <strong>ID : </strong> <span id="id">{{formateurDetail.id}}</span>
        </li>
        <li class="list-group-item">
            <strong>CIN : </strong> <span id="CIN">{{formateurDetail.cin}}</span>
        </li>
        <li class="list-group-item">
            <strong>Nom : </strong> <span id="Nom">{{formateurDetail.nom}}</span>
        </li>
        <li class="list-group-item">
            <strong>Prenom : </strong> <span id="Prenom">{{formateurDetail.prenom}}</span>
        </li>
        <li class="list-group-item">
            <strong>Numero Telephone : </strong> <span id="tel">{{formateurDetail.tel}}</span>
        </li>
        <li class="list-group-item">
            <strong>Email : </strong> <span id="Email">{{formateurDetail.email}}</span>
        </li>
        
        
        <li class="list-group-item">
            <strong>Specialites : </strong>
            <span id="Specialites" *ngFor="let spe of formateurDetail.specialites" ><span class="badge rounded-pill bg-secondary mx-1">{{spe}}</span></span>
        </li>
        
    </ul>
    </div>
  </div> 

</ng-template>


<!-- Supprimmer C -->
<ng-template #supp let-modal>

  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-body p-4 text-center" >
        <h5 class="mb-0"> Confirmez La suppression Du {{formateurDetail.nom}} . </h5>
      </div>
      <div class="modal-footer flex-nowrap p-0">
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end" (click)="supprimer()"><strong>Oui, je confirme</strong></button>
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" (click)="modal.close('Close click')" data-bs-dismiss="modal">Non</button>
      </div>
    </div>
  </div>

</ng-template>  