<section class="search">
    <h2 class="display-4">Recherchez une formation</h2>

      <div class="form-floating">
        <input type="text" [(ngModel)]="motCle" (keyup)="formationsSearched()"  class="form-control rounded-3" id="floatingInputmc" placeholder="Mots-clés">
        <label for="floatingInputmc" style="color: grey;" >Mot-clé</label>
      </div>
      

      <div class="mt-2">
      Ou bien  <button class="btn btn-outline-info" (click)="openPopup(depform)" type="button"> Déposer une demande</button>
    </div>

    <ng-container *ngIf="demandeEnvoyeSuccess">
    <div  class="alert alert-success mt-3"  role="alert" >La demande est envoyée avec succés!</div>
    </ng-container>
    <ng-container *ngIf="demandeEnvoyeEchec">
      <div  class="alert alert-warning mt-3"  role="alert" >Malhereusement, la demande n'est pas envoyée! </div>
      </ng-container>
</section>

<!--  -->
<h2 class="display-4 my-2" >Formations en vedette</h2>
  <div class="row row-cols g-4 p-auto" >

   
<ng-container *ngFor="let formation of formationsFiltered">
    <div class="col">
        <div class="card h-100">
          <img [src]="formation.img" class="card-img-top" [alt]="formation.titre"/>
          <div class="card-body">
            <h5 class="card-title">{{formation.titre}}</h5>
            <p class="card-text">
              {{formation.description}}
            </p>
          </div>
          <div class="card-footer">
              <a routerLink="/public/detail/{{formation.id}}" >En savoir plus</a>
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
          </div>
        </div>
      </div>
</ng-container>


      <!-- <div class="col">
        <div class="card h-100">
          <img src="../../../assets/formation-img/Graphic Design Fundamentals.jpg" class="card-img-top" alt="Skyscrapers"/>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.
            </p>
          </div>
          <div class="card-footer">
              <a href="/formations/3" >En savoir plus</a>
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>

     
 -->



  <!-- pop up deposer une formation -->

  <ng-template #depform  let-modal>
          
    <div class="modal-content">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Demande d'une formation</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    
      <div class="modal-body p-5 pt-0">
        
        <form [formGroup]="formulaire" (ngSubmit)="envoyerDemande()" >
          <div class="form-floating mb-3">
            <input type="text" formControlName="objet" class="form-control rounded-3" id="floatingInput" placeholder="Objet">
            <label for="floatingInput">Objet</label>
          </div>
          <div class=" mb-3">
            <textarea class="form-control rounded-3" formControlName="explication" cols="30" rows="10" placeholder="Explication de la demande"></textarea>
            <!-- <input type="" class="form-control rounded-3" id="floatingPassword" placeholder="Password"> -->
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" [disabled]="formulaire.invalid" type="submit">Envoyer</button>

        </form>
      </div>
    </div> 
  </ng-template>
  



  