<h2 class="display-4 my-2 mt-5" >Les sessions de Formation affecté</h2>
  <div class="row row-cols g-4 p-auto" >

   

    <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Formation </h5>
            <div class="card-text">
                <ul class="list-group">            
                    <li class="list-group-item">
                        <strong>Formateurs : </strong> <span >formateur</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date début : </strong> <span id="description">date</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date fin : </strong> <span id="chargeHoraire">date</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Planning : </strong> <span id="chargeHoraire">planning</span>
                    </li>
                </ul>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Membres : /15</small>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Formation </h5>
            <div class="card-text">
                <ul class="list-group">            
                    <li class="list-group-item">
                        <strong>Formateurs : </strong> <span >formateur</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date début : </strong> <span id="description">date</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date fin : </strong> <span id="chargeHoraire">date</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Planning : </strong> <span id="chargeHoraire">planning</span>
                    </li>
                </ul>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Membres : /15</small>
          </div>
        </div>
      </div>

      
 </div>