
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-1 border-top  " style="background-color: #75b798bd; max-height: 190px;color: #fff; border-top-left-radius: 15px ;border-top-right-radius: 15px ;">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="../../../favicon.ico" style="height: 25px; margin: 0 5px;" alt="Iset Rades">
      </a>
      <span class="mb-3 mb-md-0 text-muted">Copyright &copy; 2023 ISET de Rades</span>
    </div>

    

    <ul class="container text-center text-muted" > 
        <b (click)="openPopup(loginadmin)" >Dev :</b> 
        <br>
        Saadaoui Yassine : saadaouiy51@gmail.com <br>
      
     </ul>
  </footer>



  <!-- interface login -->

<ng-template #loginadmin let-modal>
          
  <div class="modal-content">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2">Admin</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
  
    <div class="modal-body p-5 pt-0">
      
      <form [formGroup]="formLogin" (ngSubmit)="connecter()">
        <small *ngIf="formerror" class="error-box mb-3 rounded-3">Email ou bien Password est incorrecte. <br> veuillez verifier vos données.</small> 

        <div class="form-floating mb-3">
          <input type="email" class="form-control rounded-3" formControlName="email" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control rounded-3" formControlName="password" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" [disabled]="formLogin.invalid" type="submit">Log-in</button>

        <small class="text-body-secondary">this is a private space . <br> By clicking Log-in, you agree to the terms of use. <br> You are the responsible for any damage you make </small> 
        
      </form>
    </div>
  </div> 
</ng-template>
