/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(assets/img/Rayons_de_soleil_penetrant_la_foret.JPG);
    backdrop-filter: blur(4px);
}

.navbar-color {
  background-color: red;

}

input.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  input.ng-valid.ng-touched{
    border: 1px solid green;
  }

  .error{
    color: red;
    font-size: smaller;
  }
  
  .error-box{
    display: block;
    color: red;
    font-size: smaller;
    border: 1px red solid;
    padding: 5px ;
    background-color: rgba(255, 115, 0, 0.3);
  }

  .remarque {
    color: black;
    font-size: smaller;
  }

  .text-clicable{
    cursor: pointer;color: blue;display: inline;
  }

  .text-clicable:hover {
    text-decoration: underline;
    font-size: 1.1em;
  }

  /* body */
  .container-body {
    margin: 8px 5px;
    background-color: rgba(121, 121, 121, 0.627);
    backdrop-filter: blur(5px);
    padding: 25px 15px;
    border-radius: 20px;
    color: #fff; 
  }


 

  /* images des cards */


.card-img-top {
  max-height: 350px;
}

.big-card-img-top {
  max-width: 500px;
  margin: 10px auto 0px;
  border-radius: 15px;
}

.card {
  min-width: 370px;
  max-width: 600px;
  margin: auto;
}
.big-card{
  max-width: 750px;
  min-width: 350px;
}

/* pop up modal */

.pop-up-backdrop {
  background-color: rgb(0, 0, 0);  
}

/* inputs */

/* form {
  text-align: -webkit-center;
} */



.form-control  {
  max-width: 500px;
}
.form-floating label{
  color: grey;
}


/* des tables */

.table-responsives , .table-responsives-md ,.table-responsives-sm{
  overflow-y: hidden;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.table-responsives-md::after {
  display: block;
  clear: both;
  content: "";
}

/* date picker */

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
