

<form [formGroup]="form" (ngSubmit)="editerSession()"  >

    <h2>Editer Une Session</h2>

    <div class="input-group form-control my-3">
        <label for="formation" class="input-group-text" >Formation:</label>
        <select name="formation" id="formation" formControlName="formation" class="form-select">
            <option value="" selected hidden>Choisir...</option>
            <option *ngFor="let opt of formations" [value]="opt.id" >{{opt.titre}}</option>
            
        </select>
  
      </div>
      
      <div class="input-group form-control my-3">
        <label for="formateur" class="input-group-text" >Formateur 1 :</label>
        <select name="formateur" id="formateur" formControlName="formateur" class="form-select">
            <option value="" selected hidden>Choisir...</option>
            <option *ngFor="let opt of formateurs" [value]="opt.id">{{opt.nom}} {{opt.prenom}}</option>
            
        </select>
        </div>

        <div class=" form-control my-3">
        <div class="input-group">
            <label for="formateur2" class="input-group-text" style="display: block;line-height: 15px;" >Formateur 2 :<br><span style="font-size: 6px;color: grey;" >Ce Champs n'est pas obligatoire <br></span> </label>
            <select name="formateur2" id="formateur2" formControlName="formateur2" class="form-select">
                <option value="" selected >Aucun...</option>
                <option *ngFor="let opt of formateurs" [value]="opt.id">{{opt.nom}} {{opt.prenom}}</option>
            </select>
        </div>
        
    </div>


            <div  class="form-floating mb-3">
                <input type="text" id="dateDebut" name="dateDebut" placeholder="dateDebut" formControlName="dateDebut" class=" form-control rounded-3" >
                <label for="dateDebut">Date debut(yyyy-mm-dd) </label>
              </div>

              <div  class="form-floating mb-3">
                <input type="text" id="dateFin" name="dateFin" placeholder="dateFin" formControlName="dateFin" class=" form-control rounded-3" >
                <label for="dateFin">Date fin(yyyy-mm-dd) </label>
              </div>
      
      <div  class="form-floating mb-3">
        <input type="text" id="planningSeances" name="planningSeances" placeholder="planningSeances" formControlName="planningSeances" class=" form-control rounded-3" >
        <label for="planningSeances">planning Seances :</label>
        <span class="remarque">Séparrer les planning par une virgule ( , )</span><br>

        <span class="error" *ngIf="form.get('planningSeances')?.value=='' && form.get('planningSeances')?.touched " >le planning est obligatoire <br></span>
        <span class="error" *ngIf="form.get('planningSeances')?.invalid && form.get('planningSeances')?.touched" >le planning doit être separée par une ( , )</span>
      </div>
    
      <button type="submit" class="btn form-control btn-success mt-3" [disabled]="form.invalid" style="max-width: 500px;" >Submit</button>
    
  
  </form> 