<header>
    <h1 class="display-4">Bienvenue sur l'application de gestion des sessions de formation</h1>
  </header>
  
  <main >
    <section class="hero">
      <img src="../../../assets/img/formasyon-1200x1050.jpg" alt="Image de formation" class="img-fluid "  style="margin: auto;width: 100%; max-width: 500px;display: block;" >
      <h2 class="display-4">Trouvez la formation qui vous convient</h2>
      <p class="lead">Nous proposons une large gamme de formations dans divers domaines, pour tous les niveaux et tous les budgets.</p>
      <a routerLink="/public/formations" class="btn btn-primary">Voir les formations</a>
    </section>



    <!-- <section class="categories">
      <h2>Categories de formations</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Développement web</h3>
          <ul>
            <li><a href="#">Formation sur le développement web</a></li>
            <li><a href="#">Formation sur le développement mobile</a></li>
            <li><a href="#">Formation sur le développement d'applications web</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Marketing digital</h3>
          <ul>
            <li><a href="#">Formation sur le marketing digital</a></li>
            <li><a href="#">Formation sur le référencement naturel</a></li>
            <li><a href="#">Formation sur le community management</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Gestion de projet</h3>
          <ul>
            <li><a href="#">Formation sur la gestion de projet</a></li>
            <li><a href="#">Formation sur la gestion du temps</a></li>
            <li><a href="#">Formation sur la communication en entreprise</a></li>
          </ul>
        </div>
      </div>
    </section> -->


    <section class="categories">
      <h2>Categories de formations</h2>

      <div class="row">

        <div class="col-md-4" *ngFor="let cat of Categories" >
          <h3>{{cat}}</h3>
          <ul>
            <li *ngFor="let formation of formationByCategorie(cat)" ><a routerLink="/public/detail/{{formation.id}}" >{{formation.titre}}</a></li>
            
          </ul>
        </div>


        
      </div>
    </section>


  </main>
  