<div class="card big-card"  >
    <div class="card-header">
        <h5 class="card-title">Formation Details</h5>
    </div>
    <img src="../../../assets/formation-img/Graphic Design Fundamentals.jpg" class="card-img-top big-card-img-top"  alt="Skyscrapers"/>

    <div class="card-body ">
        
        <ul class="list-group">            
            <li class="list-group-item">
                <strong>Titre : </strong> <span id="Titre">formation</span>
            </li>
            <li class="list-group-item">
                <strong>description : </strong> <span id="description">description</span>
            </li>
            <li class="list-group-item">
                <strong>chargeHoraire : </strong> <span id="chargeHoraire">50</span>
            </li>
            <li class="list-group-item">
                <strong>programme : </strong> <span id="programme">programme</span>
            </li>
            <li class="list-group-item">
                <strong>niveauDifficulte : </strong> <span id="niveauDifficulte">niveau</span>
            </li>
            <li class="list-group-item">
                <strong>motsCles : </strong> <span id="motsCles"  ><span class="badge rounded-pill bg-info mx-1">mot</span></span>
            </li>
            <li class="list-group-item">
                <strong>categories : </strong> <span id="categories" ><span class="badge rounded-pill bg-secondary mx-1">cat</span></span>
            </li>
            
            
        </ul>
    </div>
</div>

<!-- les session des formations -->

<h2 class="display-4 my-2 mt-5" >Les sessions disponible</h2>
  <div class="row row-cols g-4 p-auto" >

   

    <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Session à venir</h5>
            <div class="card-text">
                <ul class="list-group">            
                    <li class="list-group-item">
                        <strong>Formateurs : </strong> <span >formateur</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date début : </strong> <span id="description">date</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date fin : </strong> <span id="chargeHoraire">date</span>
                    </li>
                </ul>
            </div>
          </div>
          <div class="card-footer">
              <a href="/formations/3" >Inscrire</a><br>
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Session à venir</h5>
            <div class="card-text">
                <ul class="list-group">            
                    <li class="list-group-item">
                        <strong>Formateurs : </strong> <span >formateur</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date début : </strong> <span id="description">date</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date fin : </strong> <span id="chargeHoraire">date</span>
                    </li>
                </ul>
            </div>
          </div>
          <div class="card-footer">
              <a href="/formations/3" >Inscrire</a><br>
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>

      
 </div>