
<div style="text-align: -webkit-center;" >

<!-- formateur ou candidat -->

<form >
        
    <label for="role">Vous êtes qui ?</label>
      <div class="input-group mb-3 dynamic-input">
        <select class="form-control "  name="" id="role">
            <option value="" hidden selected>Select ...</option>
          <option value="1">Candidat</option>
          <option value="2">Formateur</option>
        </select>
        <button class="btn btn-primary" type="button" id="button-addon2">Suivant</button>
      </div>

</form>


<!-- candidat -->
<form  >

    <h2>Candidat</h2>
    <div>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" formControlName="nom" class="form-control dynamic-input" >
      </div>
    
      <div>
        <label for="prenom">Prenom:</label>
        <input type="text" id="prenom" name="prenom"  formControlName="prenom" class=" form-control dynamic-input" >
      </div>
    
      <div>
        <label for="numeroCarteIdentite">Numero Carte Identite:</label>
        <input type="text" id="numeroCarteIdentite" name="numeroCarteIdentite" formControlName="numeroCarteIdentite"  class="form-control dynamic-input" >
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" class=" form-control dynamic-input" >
      </div>
    
      <div>
        <label for="motDePasse">Mot de Passe:</label>
        <input type="password" id="motDePasse" name="motDePasse" formControlName="motDePasse" class=" form-control dynamic-input" >
      </div>

      <div>
        <label for="motDePasse2">Reécrivez Mot de Passe:</label>
        <input type="password" id="motDePasse2" name="motDePasse2" formControlName="motDePasse" class=" form-control dynamic-input" >
      </div>
    
      <button type="submit" class="btn form-control btn-success mt-3" style="max-width: 500px;" >Submit</button>
    


</form>


<!-- formateur -->

<form >

    <h2>Formateur</h2>
    <div>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" formControlName="nom" class=" form-control dynamic-input" >
      </div>
    
      <div>
        <label for="prenom">Prenom:</label>
        <input type="text" id="prenom" name="prenom"  formControlName="prenom" class=" form-control dynamic-input" >
      </div>
    
      <div>
        <label for="numeroCarteIdentite">Numero Carte Identite:</label>
        <input type="text" id="numeroCarteIdentite" name="numeroCarteIdentite" formControlName="numeroCarteIdentite"  class=" form-control dynamic-input" >
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" class=" form-control dynamic-input" >
      </div>
    
      <div>
        <label for="motDePasse">Mot de Passe:</label>
        <input type="password" id="motDePasse" name="motDePasse" formControlName="motDePasse" class=" form-control dynamic-input" >
      </div>

      <div>
        <label for="motDePasse2">Reécrivez Mot de Passe:</label>
        <input type="password" id="motDePasse2" name="motDePasse2" formControlName="motDePasse" class=" form-control dynamic-input" >
      </div>
    
      <div>
        <label for="numeroTelephone">Numero Telephone:</label>
        <input type="text" id="numeroTelephone" name="numeroTelephone" formControlName="numeroTelephone" class=" form-control dynamic-input" >
      </div>
    
      <div >
        <label >Specialites :</label>
        <input type="text" id="specialites" name="specialites" formControlName="specialites" class=" form-control dynamic-input" >
        <span class="error" >Vos Specialites sont obligatoire <br></span>
        <span class="error" >Vos Specialites doit etre separee par une ,</span>
      </div>
    
      <button type="submit" class="btn form-control btn-success mt-3" style="max-width: 500px;" >Submit</button>
    


</form>

</div>