<form  >

    <div>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" formControlName="nom" class=" form-control" >
      </div>
    
      <div>
        <label for="prenom">Prenom:</label>
        <input type="text" id="prenom" name="prenom"  formControlName="prenom" class=" form-control" >
      </div>
    
      <div>
        <label for="numeroCarteIdentite">Numero Carte Identite:</label>
        <input type="text" id="numeroCarteIdentite" name="numeroCarteIdentite" formControlName="numeroCarteIdentite"  class=" form-control" >
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" class=" form-control" >
      </div>
    
      <div>
        <label for="motDePasse">Mot de Passe:</label>
        <input type="password" id="motDePasse" name="motDePasse" formControlName="motDePasse" class=" form-control" >
      </div>
    
      <button type="submit" class="btn form-control btn-success mt-3" >Submit</button>
    


</form>